@mixin button($width:0px, $height:0px, $border-radius:0px, $bg-color: #fff) {
    /* Style for "Rounded Re" */
    width: $width;
    height: $height;
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1);
    border-radius: $border-radius;
    background-color: $bg-color;
}