// Function that creates span class:
//  span-sm-ml-blue
//  span-lg-mr-blue
@mixin line() {
    $colors-list: (red:$red, yellow:$yellow, green:$green, blue:$blue);
    $widths-list: (sm:'20px', lg:'40px');
    $float-list: (ml:'left', mr: 'right');

    $class-slug: span !default @each $key,
    $val in $colors-list {

        @each $key2,
        $val2 in $widths-list {

            @each $key3,
            $val3 in $float-list {
                .#{$class-slug}-#{$key2}-#{$key3}-#{$key} {
                    width: #{$val2};
                    height: 10px;
                    border-radius: 5px;
                    background-color: #{$val};
                    // position: absolute;
                    // top: 15%;
                    // @if #{$val3}=="left" {
                    //     #{$val3}: -30%;
                    // }
                    // @else {
                    //     #{$val3}: 20%;
                    // }
                }
            }
        }
    }
}