// Bootstrap Required
// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";
// // Bootstrap Optional
// @import "node_modules/bootstrap/scss/grid";
// @import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/bootstrap";
// Custom SCSS
@import "partials/header";
@import "partials/navigation";
@import "partials/variables";
@import "mixins/line";
@include line();

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.line_container {
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}